In [88]:
## Assignment 4 - SVM Assignment

In [89]:
## 1. Reading the dataset

In [90]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [91]:
diabetesDF = pd.read_csv('Diabetes.csv')
print(diabetesDF.head())

   No. of times pregnant  Plasma glucose concentration  \
0                      6                           148
1                      1                            85
2                      8                           183
3                      1                            89
4                      0                           137

   Diastolic blood pressure (mm Hg)  Triceps skin fold thickness (mm)  \
0                                72                                35
1                                66                                29
2                                64                                 0
3                                66                                23
4                                40                                35

   2-Hour serum insulin (mu U/ml)  \
0                               0
1                               0
2                               0
3                              94
4                             168

   Body mass index (weight in kg/(height in m)^2)  Diabetes pedigree function  \
0                                            33.6                       0.627
1                                            26.6                       0.351
2                                            23.3                       0.672
3                                            28.1                       0.167
4                                            43.1                       2.288

   Age (years)  Class variable (0 or 1)
0           50                        1
1           31                        0
2           32                        1
3           21                        0
4           33                        1

In [92]:
diabetesDF.describe()

,No. of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable (0 or 1)
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [93]:
## 1.1 Find missing values

In [94]:
diabetesDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   No. of times pregnant                           768 non-null    int64
 1   Plasma glucose concentration                    768 non-null    int64
 2   Diastolic blood pressure (mm Hg)                768 non-null    int64
 3   Triceps skin fold thickness (mm)                768 non-null    int64
 4   2-Hour serum insulin (mu U/ml)                  768 non-null    int64
 5   Body mass index (weight in kg/(height in m)^2)  768 non-null    float64
 6   Diabetes pedigree function                      768 non-null    float64
 7   Age (years)                                     768 non-null    int64
 8   Class variable (0 or 1)                         768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [95]:
## finding count of null values

diabetesDF.isnull().sum()

No. of times pregnant                             0
Plasma glucose concentration                      0
Diastolic blood pressure (mm Hg)                  0
Triceps skin fold thickness (mm)                  0
2-Hour serum insulin (mu U/ml)                    0
Body mass index (weight in kg/(height in m)^2)    0
Diabetes pedigree function                        0
Age (years)                                       0
Class variable (0 or 1)                           0
dtype: int64

In [96]:
## replacing 0s with NaN values

diabetesDF['Plasma glucose concentration'] = diabetesDF['Plasma glucose concentration'].replace(0, np.nan)
diabetesDF['Diastolic blood pressure (mm Hg)'] = diabetesDF['Diastolic blood pressure (mm Hg)'].replace(0, np.nan)
diabetesDF['Triceps skin fold thickness (mm)'] = diabetesDF['Triceps skin fold thickness (mm)'].replace(0, np.nan)
diabetesDF['2-Hour serum insulin (mu U/ml)'] = diabetesDF['2-Hour serum insulin (mu U/ml)'].replace(0, np.nan)
diabetesDF['Body mass index (weight in kg/(height in m)^2)'] = diabetesDF['Body mass index (weight in kg/(height in m)^2)'].replace(0, np.nan)
diabetesDF['Diabetes pedigree function'] = diabetesDF['Diabetes pedigree function'].replace(0, np.nan)
diabetesDF['Age (years)'] = diabetesDF['Age (years)'].replace(0, np.nan)

diabetesDF.head(8)

,No. of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable (0 or 1)
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0

In [97]:
## now checking null values again, we will see the count inceased after replacing 0's with null

diabetesDF.isnull().sum()

No. of times pregnant                               0
Plasma glucose concentration                        5
Diastolic blood pressure (mm Hg)                   35
Triceps skin fold thickness (mm)                  227
2-Hour serum insulin (mu U/ml)                    374
Body mass index (weight in kg/(height in m)^2)     11
Diabetes pedigree function                          0
Age (years)                                         0
Class variable (0 or 1)                             0
dtype: int64

In [98]:
## Filling Null values by median values

diabetesDF['Body mass index (weight in kg/(height in m)^2)'].fillna(diabetesDF['Body mass index (weight in kg/(height in m)^2)'].median(), inplace=True)
diabetesDF['Plasma glucose concentration'].fillna(diabetesDF['Plasma glucose concentration'].median(), inplace=True)
diabetesDF['Diastolic blood pressure (mm Hg)'].fillna(diabetesDF['Diastolic blood pressure (mm Hg)'].median(), inplace=True)
diabetesDF['Triceps skin fold thickness (mm)'].fillna(diabetesDF['Triceps skin fold thickness (mm)'].median(), inplace=True)
diabetesDF['2-Hour serum insulin (mu U/ml)'].fillna(diabetesDF['2-Hour serum insulin (mu U/ml)'].median(), inplace=True)

diabetesDF.describe()

,No. of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable (0 or 1)
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.656250,72.386719,29.108073,140.671875,32.455208,0.471876,33.240885,0.348958
std,3.369578,30.438286,12.096642,8.791221,86.383060,6.875177,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,25.000000,121.500000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [99]:
## 1.2 - Differences between mean and median in the features

diabetesDF.describe()

,No. of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable (0 or 1)
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.656250,72.386719,29.108073,140.671875,32.455208,0.471876,33.240885,0.348958
std,3.369578,30.438286,12.096642,8.791221,86.383060,6.875177,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,25.000000,121.500000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [100]:
## Mean of the features
## Mean represents the arithmetic average of the data. 
## The line of code below prints the mean of the numerical variables in the data.

diabetesDF.mean()

No. of times pregnant                               3.845052
Plasma glucose concentration                      121.656250
Diastolic blood pressure (mm Hg)                   72.386719
Triceps skin fold thickness (mm)                   29.108073
2-Hour serum insulin (mu U/ml)                    140.671875
Body mass index (weight in kg/(height in m)^2)     32.455208
Diabetes pedigree function                          0.471876
Age (years)                                        33.240885
Class variable (0 or 1)                             0.348958
dtype: float64

In [101]:
## median of features
## median represents the 50th percentile, or the middle value of the data, that separates the distribution into two halves. 
## The line of code below prints the median of the numerical variables in the data.

diabetesDF.median()

No. of times pregnant                               3.0000
Plasma glucose concentration                      117.0000
Diastolic blood pressure (mm Hg)                   72.0000
Triceps skin fold thickness (mm)                   29.0000
2-Hour serum insulin (mu U/ml)                    125.0000
Body mass index (weight in kg/(height in m)^2)     32.3000
Diabetes pedigree function                          0.3725
Age (years)                                        29.0000
Class variable (0 or 1)                             0.0000
dtype: float64

In [102]:
## calculate how much the mean and median differs for each feature
## we can see that mean is always greater than median for every feature

diabetesDF.mean() - diabetesDF.median()

No. of times pregnant                              0.845052
Plasma glucose concentration                       4.656250
Diastolic blood pressure (mm Hg)                   0.386719
Triceps skin fold thickness (mm)                   0.108073
2-Hour serum insulin (mu U/ml)                    15.671875
Body mass index (weight in kg/(height in m)^2)     0.155208
Diabetes pedigree function                         0.099376
Age (years)                                        4.240885
Class variable (0 or 1)                            0.348958
dtype: float64

In [103]:
## 2. Visualize the feature relationships

In [0]:
## 2.1 - Pair-Wise plot

import seaborn as sns; sns.set(style="ticks", color_codes=True)

g = sns.pairplot(diabetesDF)

In [0]:
## 2.2 - Heat map

ax = sns.heatmap(diabetesDF)

In [0]:
## Finding Correlation between features and plotting heat map

corr = diabetesDF.corr()
print(corr)
sns.heatmap(corr, xticklabels=corr.columns, yticklabels=corr.columns)

In [0]:
## 3. Split the Features

In [0]:
## 3.1 - Divide into features and target

In [0]:
X_features = pd.DataFrame(data = diabetesDF, columns = ["No. of times pregnant",
                                                        "Plasma glucose concentration",
                                                        "Diastolic blood pressure (mm Hg)",
                                                        "Body mass index (weight in kg/(height in m)^2)",
                                                        "Triceps skin fold thickness (mm)",
                                                        "2-Hour serum insulin (mu U/ml)",
                                                        "Diabetes pedigree function",
                                                        "Age (years)"])
X_features.head()

In [0]:
Y = diabetesDF["Class variable (0 or 1)"]
Y.head()

In [0]:
## 3.2 - Dividing the training and test data

In [0]:
## Scaling the features

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_features = scaler.fit_transform(X_features)
X_features

In [0]:
## 3.2 - Split Data: Training & Testing
## Ensure that data is divided with more or less equal ration of class 1 and 0 in both test and train set


from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_features, Y, test_size=0.25, random_state=10, stratify=Y)

print("X_train - ",X_train)
print("X_test - ",X_test)
print("Y_train - ",Y_train)
print("Y_test - ",Y_test)

In [0]:
## 4 - Implement the SVM Model

In [0]:
## 4.1 - Scaling of the features is done in Step 3

In [0]:
## 4.2 -Training the SVM model

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC

models = []

models.append(("Support Vector Machine-linear:",SVC(kernel="linear",C=0.2)))
models.append(("Support Vector Machine-rbf:",SVC(kernel="rbf")))

results = []
names = []

for name, model in models:
    kfold = KFold(n_splits=5, random_state=3)
    cv_result = cross_val_score(model, X_train, Y_train, cv = kfold, scoring = "accuracy")
    names.append(name)
    results.append(cv_result)

In [0]:
## 4.3 - Prediction for SVM mode

print("SVM Model results -")

for i in range(len(names)):
    print(names[i], results[i].mean()*100)

In [0]:
## 5 - Measure Accuracy

In [0]:
import numpy as np
import matplotlib.pyplot as plt

from sklearn import svm, datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import plot_confusion_matrix


# Run classifier, using a model that is too regularized (C too low) to see
# the impact on the results
classifier = svm.SVC(kernel='linear', C=0.01).fit(X_train, Y_train)
np.set_printoptions(precision=2)

In [0]:
## 5.1 - Confusion Matrix

from sklearn.metrics import confusion_matrix

print("Confustion Matrix \n")

y_predict = classifier.predict(X_test)

print(confusion_matrix(Y_test, y_predict))

In [0]:
## 5.2 - Classification Report

from sklearn.metrics import classification_report

print("Classification Report \n")

y_predict = classifier.predict(X_test)

print(classification_report(Y_test, y_predict))

In [0]:
## 5.3 - Cross Tab with True and Predictable Labels

confusion_matrix = pd.crosstab(Y_test, y_predict, rownames=['Actual'], colnames=['Predicted'])
print (confusion_matrix)

In [0]:
## plotting the above results using heatmap

import seaborn as sn
import matplotlib.pyplot as plt

sn.heatmap(confusion_matrix, annot=True)
plt.show()